.vc_btn3.vc_btn3-size-md {
  background: #fb2351 none repeat scroll 0 0;
  border-radius: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: auto;
  padding: 10px 40px;
  transition: all 0.3s linear 0s;
}